#scanner_input {
  background-color: white;
  margin: auto;
  width: 100%;
  height: 50px;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: monospace;
  text-align: center;
}

#scanner_input:focus {
  background-color: black;
  outline: none;
}

#result {
  width: 100%;
  height: 400px;
  background-color: white;
}

#scanned_EAN {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}